@import '../../styles/template.module.scss';

.container {
    max-width: 80%;
    width: 80%;
    min-height: 74.5vh;
    margin: 0 auto;
    padding-top: 40px;
    .blockTitle {
        font-size: 20px;

        .title {
            margin-bottom: 20px;
            font-size: 20px;
            @include fontText;
            font-weight: 700;
            font-size: 2.5vw;
            text-align: center;
            color: $TextColor;
        }
    }

    .details {
        display: flex;
        justify-content: space-around;

        .blockDescription {

            .description {
                padding: 20px 20px 20px 20px;
                max-width: 70%;
                @include fontText;
                font-weight: 500;
                font-size: 1.4vw;
                text-align: left;
                color: $TextColor;

            }
        }

        .blockImage {

            .image {
                max-width: 40vw;
            }
        }
    }

}