@import '../../styles/template.module.scss';

.button{
    padding: 1vh 1vh 1vh 1vh;
    background-color: $backgroundColorButton;
    border: 1px solid $whiteColor;
    border-radius: 10px;

    @include fontText;
    font-weight: 400;
    font-size: 1.5vw;
    color: $whiteColor;
    cursor: pointer;
    transition: all 0.3s;
   
}

.button:hover{
    box-shadow: 0 7px 7px 0 rgb(137, 47, 133);
    opacity: 0.8;
}