
@import url('https://fonts.googleapis.com/css2?family=Sedan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


$backgroundColorHeaderFooter: rgb(225, 113, 219);
$whiteColor: white;
$backgroundColorButton: rgb(206, 53, 198);
$TextColor: rgb(125, 19, 120);
$cardColor: rgb(206, 53, 198);
$colorTable: rgb(124, 126, 122);
$backgroundColorEditing: rgb(233, 183, 230);
$backgrounColorTable: rgb(233, 183, 230);
$backgroundColorHeaderTable: rgb(235, 213, 236);
$boxShadowTable: rgb(222, 48, 217);
$backgroundError: #f8d7da;
$ColorErrorText: #df4759;
$EditingImgColor: rgba(183, 17, 177, 0.842);
$EditingColorHover: red;
$RemoveImgColor: rgb(88, 86, 86);
$RemoveImgColorHover: black;
$BtnAddWordBackColor: rgba(183, 17, 177, 0.842);
$grey: grey;
$darkGrey: rgb(62, 63, 61);
$black: black;
$BtnDisabledBackgColor: rgb(167, 164, 167);
$BtnSaveBackg: rgb(214, 54, 212);
$BtnSaveHover: rgba(239, 38, 165, 0.765);
$BtnSaveHoverBoxShadow: rgb(150, 7, 97);

$fontFamilyButton: "Sedan", serif; 
$fontFamilyText: "Lora", serif;  

@mixin fontText {
    font-family: $fontFamilyText;
    font-style: italic;
}