//imports of fonts
@import url('https://fonts.googleapis.com/css2?family=Sedan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

//Colors
$backgroundColorHeaderFooter: rgb(225, 113, 219);
$whiteColor: white;
$backgroundColorButton: rgb(206, 53, 198);
$TextColor: rgb(125, 19, 120);
$cardColor: rgb(206, 53, 198);
$colorTable: rgb(124, 126, 122);
$boxShadowButtonImg: greenyellow;
$boxShadowRemoveImg: rgb(243, 57, 225);
$boxShadowEditing: rgb(82, 218, 236);
$backgroundColorEditing: rgb(233, 183, 230);
$backgrounColorTable: rgb(233, 183, 230);
$backgroundColorHeaderTable: rgb(235, 213, 236);
$boxShadowTable: rgb(222, 48, 217);
$backgroundError: #f8d7da;
$ColorErrorText: #df4759;
//Fonts
$fontFamilyButton: "Sedan", serif; //normal - 400
$fontFamilyText: "Lora", serif; //normal/italic / weight с 400 по 700 

@mixin fontText {
    font-family: $fontFamilyText;
    font-style: italic;
}