@import '../../styles/template.module.scss';

.header {
    max-width: 100%;
    width: 100%;
    min-height: 11vh;
    //margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    background-color: $backgroundColorHeaderFooter;
  .nav{
    padding-right: 5vw;
    min-height: 11vh;
    display: flex;
    align-items: center;
    flex-basis: 30%;
    justify-content: space-around;
   

    .navLink{
        text-decoration: none;
        font-family: $fontFamilyText;
        font-weight: 600;
        font-style: normal;
        font-size: 20px;
    }

    .logo{
      max-width: 4vw;
    }
  }

}

.wrapper {
    max-width: 100%;
    min-height: 11vh;
    display: flex;
    align-items: center;
    padding: 15px 5% 20px 5%;
    display: flex;
    //flex-basis: 60%;
    background-color: $backgroundColorHeaderFooter;
    
}