@import '../../styles/template.module.scss';

.title {
    margin-bottom: 15px;
    @include fontText;
    font-weight: 500;
    color: $TextColor;

    font-size: 2vw;
    text-align: center;
}

.inputWord::placeholder {
    font-family: $fontFamilyText;
    font-weight: 500;
    color: $colorTable;

}

.tr {
    max-width: 60%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 15px;
    box-shadow: 3px 3px 3px 3px $boxShadowTable;
    border-radius: 10px;

    .td {
        width: 300px;
        height: 40px;
        background-color: $backgroundColorEditing;
        text-align: center;
        border: 1px solid $whiteColor;
        border-radius: 10px;


        .inputWord {
            width: 70%;
            height: 20px;
            margin: 3px;
            margin-top: 8px;
            text-align: center;
            outline: none;


        }

        .inputWordError {
            width: 70%;
            height: 20px;
            margin: 3px;
            margin-top: 8px;
            text-align: center;
            outline: none;
            border: 2px solid red;

        }

        .btn {
            margin-top: 6px;
            width: 40px;
            height: 25px;
            padding: 0 7px 0 7px;
            border: none;
            border-radius: 5px;
            background-color: $BtnAddWordBackColor;

            .doneImg {
                margin-top: 2px;
                font-size: 20px;
                color: $black;
            }
        }

        .btnDisabled {
            width: 40px;
            height: 25px;
            margin-top: 6px;
            padding: 0 7px 0 7px;
            border: none;
            border-radius: 5px;
            background-color: $BtnDisabledBackgColor;
            box-shadow: 5px 0 5px 0 $grey;

            .doneImg {
                margin-top: 2px;
                font-size: 20px;
                color: $black;
            }
        }

        .btn:hover {
            background-color: rgba(239, 38, 165, 0.765);
            box-shadow: 5px 0 5px 0 rgb(150, 7, 97);
        }
    }
}

//Часть с выводом ошибки 
.blockError {
    max-width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 7px;

    .error {
        padding: 5px 5px 5px 5px;
        color: $ColorErrorText;
    }
}