@import '../../styles/template.module.scss';

.footer {

    max-width: 100%;
    width: 100%;
    min-height: 50px;
    background-color: $backgroundColorHeaderFooter;

}

.wrapper {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .footertext{
       
        margin-top: 15px;
        text-align: center;
    }
}