@import '../../styles/template.module.scss';

.title {
    margin-bottom: 15px;
    @include fontText;
    font-weight: 500;
    color: $TextColor;

    font-size: 2vw;
    text-align: center;
}

.inputWord::placeholder {
    font-family: $fontFamilyText;
    font-weight: 500;
    color: $colorTable;

}

.tr {
    max-width: 60%;
    display: flex;
    margin: 0 auto;
    box-shadow: 3px 3px 3px 3px $boxShadowTable;
    border-radius: 10px;

    .td {
        width: 300px;
        height: 40px;
        background-color: $backgroundColorEditing;
        text-align: center;
        border: 1px solid $whiteColor;
        border-radius: 10px;


        .inputWord {
            width: 150px;
            height: 20px;
            margin: 3px;
            margin-top: 8px;
            text-align: center;

        }

        .doneImg,
        .removeImg {
            width: 30px;
            margin-top: 4px;
            cursor: pointer;

        }

        .doneImg {
            margin-right: 3.1%;
        }

        .doneImg:hover {
            box-shadow: 2px 2px 4px $boxShadowButtonImg;
            border-radius: 15px;
        }

        .removeImg:hover {
            box-shadow: 2px 2px 4px $boxShadowRemoveImg;
            border-radius: 15px;
        }
    }
}