@import '../../styles/template.module';

//стили для заголовка таблицы
.wordList {
    max-width: 60%;
    width: 100%;
    margin: 0 auto;
    display: block;


    .wrapper {
        display: flex;
        justify-content: center;
        gap: 5px;
        padding-top: 20px;

        .tableWrapper {
            margin-bottom: 30px;
            box-shadow: 5px 5px 5px 5px $boxShadowTable;
            border-radius: 10px;

            .firstLine {
                .table {
                    color: $TextColor;
                    border-collapse: separate;


                    .thead {
                        .tr {
                            .th {
                                width: 300px;
                                height: 30px;
                                border-radius: 10px;
                                background-color: $backgroundColorHeaderTable;
                                font-size: 20px;
                                font-family: $fontFamilyText;
                                font-weight: 600;
                            }
                        }
                    }

                }

            }
        }
    }
}

//стили для строчек с иностранными словами
.tr {
    border: 1px solid rgb(5, 5, 5);
    

    .td {
        width: 300px;
        height: 30px;
        background-color: $backgrounColorTable;
        border-radius: 10px;
        font-family: $fontFamilyText;
        font-weight: 500;
        font-size: 15px;
        text-align: center;
        color: $colorTable;


        .editingImg,
        .removeImg {
            width: 30px;
            margin-top: 2%;
            cursor: pointer;
            text-align: center;
        }

        .editingImg {
            margin-right: 3%;
        }

        .editingImg:hover {
            box-shadow: 2px 2px 4px $boxShadowEditing;
            border-radius: 15px;
        }
    }
}