@import '../../styles/template.module.scss';

.slider {
    color: rgb(16, 76, 76);

    .sliderContainer {
        display: flex;
        justify-content: center;

        //стрелочка влево
        .arrowLeft {
            margin-right: 10px;
            height: 240px;
            align-content: center;
            

            .arrowLeftImg {
                width: 30px;
                cursor: pointer;
                
            }
        }

        //стрелочка вправво
        .arrowRight {
            margin-left: 10px;
            height: 240px;
            align-content: center;
          

            .arrowRightImg {
                width: 30px;
                cursor: pointer;
                
            }
        }
    }

    .amount{
        text-align: center;
        .wordAmount{
            @include fontText;
            font-weight: 500;
            font-size: 1.5vw;
            color: $cardColor;
        }
      }
   
}
